# {{fullName}}
*{{trim natspec.title}}*

{{#if natspec.userdoc}}*Description*: {{natspec.userdoc}}
{{/if}}{{#if natspec.devdoc}}**Dev doc**: {{natspec.devdoc}}
{{/if}}

## Table of contents:
{{#if ownVariables}}
- [Variables](#variables)
{{/if}}
{{#if ownFunctions}}
- [Functions:](#functions)
{{#ownFunctions}}
{{#if (or (eq visibility "public") (eq visibility "external"))}}
  - [`{{name}}({{args}}){{#if outputs}} → {{outputs}}{{/if}}` ({{visibility}}) ](#{{toLowerCase anchor}})
{{/if}}
{{/ownFunctions}}
{{/if}}
{{#if ownEvents}}
- [Events:](#events)
{{#ownEvents}}
{{#if (or (eq visibility "public") (eq visibility "external"))}}
  - [event `{{name}}({{args}})`](#{{toLowerCase anchor}})
{{/if}}
{{/ownEvents}}
{{/if}}

{{#if ownVariables}}
## Variables <a name="variables"></a>
{{#each ownVariables}}
- `{{signature}}`
{{/each}}
{{/if}}

{{#if ownFunctions}}
## Functions <a name="functions"></a>
{{#each ownFunctions}}

### `{{name}}({{args}}){{#if outputs}} → {{outputs}}{{/if}}` ({{visibility}}) <a name="{{toLowerCase anchor}}"></a>

{{#if natspec.userdoc}}*Description*: {{natspec.userdoc}}
{{/if}}{{#if natspec.devdoc}}**Dev doc**: {{natspec.devdoc}}
{{/if}}{{#if natspec.params}}
#### Params
{{/if}}
{{#each natspec.params}}
 - `{{param}}`: {{description}}{{signature}}
{{/each}}
{{#if natspec.returns}}
#### Returns
{{#each natspec.returns}}
 - {{param}} {{description}}
{{/each}}
{{/if}}
{{/each}}
{{/if}}
{{#if ownEvents}}
## Events <a name="events"></a>
{{#each ownEvents}}
### event `{{name}}({{args}})` <a name="{{toLowerCase anchor}}"></a>

{{#if natspec.userdoc}}*Description*: {{natspec.userdoc}}
{{/if}}{{#if natspec.devdoc}}**Dev doc**: {{natspec.devdoc}}
{{/if}}{{#if natspec.params}}
#### Params
{{/if}}
{{#each natspec.params}}
 - `{{param}}`: {{description}}
{{/each}}

{{/each}}
{{/if}}